//Cores
$color-yellow-two: #ffcb00;
$color-yellow-three: #ffbf00;
$color-blue: #133880;
$text-color-yellow: #feca05;
//Paleta Grupo Amma
$color-yellow: #ffcc00;
$color-red: #ec1651;

//Escalas de Cinzaz
$text-color-one: #70738a;
$text-color-two: #313035;
$text-color-three: #4e4b59;
$title-color: #040404;
$title-color-two: #323841;
